/* body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background: linear-gradient(135deg, #0d47a1, #4dabf5, #0288d1);
  min-height: 100vh;
  background-attachment: fixed;
} */
body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background: radial-gradient(circle at center, #4fc3f7, #0d47a1);
  min-height: 100vh;
  background-attachment: fixed;
}
/* À ajouter dans globals.css */
main {
  padding-bottom: 100px; /* Ajustez cette valeur selon la hauteur de votre footer */
}
